@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  background: url("intersection.png");
  background-repeat: repeat;
  font-family: 'Raleway', 'Arial', sans-serif;
}

#app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.todo-list {
  width: 30%;
  min-height: 50vh;
  border: 3px solid #95a5a6;
  background-color: white;
}

.todo-list .todo-header {
  background-color: #95a5a6;
  padding: 1rem;
  font-size: 1.6rem;
  color: white;
  text-shadow: -1px -1px #566566;
  text-transform: uppercase;
}

.todo-list .todo-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  clear: both;
}

.todo-list .todo-filter li {
  float: left;
  padding: 1rem;
  width: 33.3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #a3b1b2;
  border-right: 1px solid #a3b1b2;
  text-transform: uppercase;
  cursor: pointer;
}

.todo-list .todo-filter li:hover,
.todo-list .todo-filter li.selected {
  background-color: #a3b1b2;
  color: white;
}

.todo-list .todo-filter li:last-child {
  border-right: none;
}

.todo-list input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #a3b1b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  font-size: 0.8rem;
}

.todo-list .todo-item {
  padding: 0.5rem;
  overflow: hidden;
}

.todo-list .todo-item .todo-name {
  font-size: 0.8rem;
  color: #34495e;
}

.todo-list .todo-item .star-button {
  float: right;
  color: #f39c12;
  cursor: pointer;
}

.todo-list .todo-item .action-button {
  cursor: pointer;
  float: right;
  padding-left: 0.5rem;
}

.todo-list .todo-item .action-button.action-remove {
  color: #e74c3c;
}

.todo-list .todo-item .action-button.action-remove:hover {
  color: #d62c1a;
}

.todo-list .todo-item .action-button.action-complete {
  color: #27ae60;
}

.todo-list .todo-item .action-button.action-complete:hover {
  color: #1e8449;
}

